body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
 
canvas {
    position: absolute;
    top: 64px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transition: 0.3s;
}
 
.topnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: rgb(56, 56, 56);
    padding: 0;
    margin: 0;
}
 
.topnav a {
    float: right;
    font-size: 24px;
    padding-top: 20px;
    padding-right: 30px;
    margin: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}
 
.topnav a:hover {
    color: rgb(156, 156, 156);
    transition: 0.3s;
}
 
.topnav .container {
    padding-top: 15px;
    padding-left: 30px;
    float: left;
    cursor: pointer;
}
 
.topnav .bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: rgb(255, 255, 255);;
    margin: 6px 0;
    transition: 0.4s;
}
 
.topnav .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
 
.topnav .change .bar2 {
    opacity: 0;
}
 
.topnav .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
 
.sidemenu {
    position: absolute;
    top: 64px;
    left: -230px;
    width: 230px;
    opacity: 0.9;
    background-color: rgb(202, 202, 202);
    transition: 0.3s;
}

.sidemenu h1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 13px;
}

.sidemenu .colorpicker {
    padding-left: 13px;
}

.sidemenu .widthpicker {
    padding-top: 8px;
    padding-left: 13px;
}

.uploadcon {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: -256px;
    width: 512px;
    height: 256px;
    border-radius: 15px;
    background-color: rgb(242, 242, 242);
}

.uploadcon p {
    margin-top: 18px;
    margin-left: 21px;
    font-size: 15px;
    font-weight: bold;
}

.uploadcon .separator {
    position: absolute;
    background-color: rgb(73, 73, 73);
    left: 22px;
    width: 468px;
    height: 1px;
}

.uploadcon .imageUpload {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.uploadcon button {
    float: right;
    margin-right: 12px;
    margin-top: 172px;
}